= bootstrap_page_header "Top Secret", "The guts of mozapolis." 

.row.admin-area
	.span2
		= link_to "<i class='icon-home'></i>".html_safe, nil, :class => "giant-text", :rel => "tooltip", :title => "Home", "data-placement" => "right"
		= link_to "<i class='icon-beaker'></i>".html_safe, nil, :class => "giant-text", :rel => "tooltip", :title => "Bug Reports", "data-placement" => "right"
		= link_to "<i class='icon-music'></i>".html_safe, nil, :class => "giant-text", :rel => "tooltip", :title => "Music Overview", "data-placement" => "right"
		= link_to "<i class='icon-group'></i>".html_safe, nil, :class => "giant-text", :rel => "tooltip", :title => "Users", "data-placement" => "right"
		= link_to "<i class='icon-film'></i>".html_safe, nil, :class => "giant-text", :rel => "tooltip", :title => "Videos", "data-placement" => "right"
		= link_to "<i class='icon-camera-retro'></i>".html_safe, nil, :class => "giant-text", :rel => "tooltip", :title => "Images", "data-placement" => "right"
		= link_to "<i class='icon-cogs'></i>".html_safe, nil, :class => "giant-text", :rel => "tooltip", :title => "Settings", "data-placement" => "right"