%ul.thumbnails
	-if @albums.each do |album| 
		%li.span2
			= link_to image_tag(album.cover.url(:large)), album, :class => "thumbnail", "data-original-title" => "#{album.name}", "data-content" => "<p>#{album.description}</p><h6>#{album.record_label} / #{album.year_produced}</h6>", :rel => "popover"
	-end.empty?
		-show_msg = true
-if show_msg ==  true
	.alert.alert-info
		You don't have any albums yet, click on 
		= button_link "plus", "New Album", new_album_path, "btn-success btn-mini"
		to get started!