= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put, :class => "form-vertical" }, :defaults => { :input_html => {:class => "span10"} }) do |f|
  = bootstrap_page_header "#{current_user.full_name}", "#{current_user.email}" 

  .row
    -if !current_user.is_active? and current_user.has_role? :artist
      .span16
        .alert.alert-info
          %h4 Hey #{current_user.full_name}. 
          Your profile isn't active yet because you haven't chosen an artist name, check out the artist details section below.
    .span10  
      %ul.nav.nav-pills
        %li.active= link_to "Credentials", "#credentials", "data-toggle" => "tab"
        %li= link_to "Passwords", "#passwords", "data-toggle" => "tab"
        %li= link_to "Personal", "#personal", "data-toggle" => "tab"
        -if current_user.has_role? :artist
          %li= link_to "Artist Details", "#artist-details", "data-toggle" => "tab"
          %li= link_to "Customize", "#customize", "data-toggle" => "tab"
        %li= link_to "Cancel Account", "#cancel-account", "data-toggle" => "tab"
      =f.error_notification
      .tab-content
        .active.tab-pane#credentials
          = f.input :email, :required => true, :autofocus => true
          = f.input :username, :required => true

        .tab-pane#customize
          = render 'devise/registrations/inputs/customize_background', f: f
          = render 'devise/registrations/inputs/customize_header', f: f
          = render 'devise/registrations/inputs/customize_links', f: f
          = render 'devise/registrations/inputs/customize_thumbnails', f: f
          = render 'devise/registrations/inputs/customize_comments', f: f
          = render 'devise/registrations/inputs/customize_navbuttons', f: f
          = render 'devise/registrations/inputs/customize_general', f: f
        = render 'devise/registrations/inputs/personal', f: f
        = render 'devise/registrations/inputs/passwords', f: f
        = render 'devise/registrations/inputs/artist_details', f: f
        = render 'devise/registrations/inputs/cancel', f: f

    .span6
      = f.button :submit, "Click to save changes", :class => "btn btn-large btn-success"
      %hr
      %h3 
        %i.icon-edit
        Profile Engine
      %p We are creating a very unique way to personalize your experience. The profile engine is a way to customise the look of your profile easily with handy tools.
      %p The live preview editor is currently being worked on and will be available next!
      %p
        %strong Now that you know that, you are free to use it at caution.
      %hr.d
      = button_link "ok-sign", "Go to Profile Engine", nil, "btn-mini pull-right"