= bootstrap_page_header "Sign Up", "Registrations are currently free!" 
.row
	.span8.offset4
		.well
			= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :defaults => {:input_html => { :class => "input-block-level" }}) do |f|
				= f.error_notification
				.center
					%p.lead Hello, I am a(n)...
					%p.well.black.btn-group{"data-toggle"=>"buttons-radio"}
						- if params[:user].present? and params[:user][:account_type] == "1"
							%label.btn.btn-large.btn-primary.active#user_artist
								%i.icon-user
								Artist
							%span.btn.btn-large.btn-primary.disabled or 
							%input{:type=>"hidden", :id=>"user_role", :name=>"user[account_type]", :value=>"1", :style=>"display:none"}
							%label.btn.btn-large.btn-primary#user_fan
								%i.icon-headphones
								Fan
						- else 
							%label.btn.btn-large.btn-primary#user_artist
								%i.icon-user
								Artist
							%span.btn.btn-large.btn-primary.disabled or 
							%input{:type=>"hidden", :id=>"user_role", :name=>"user[account_type]", :value=>"0", :style=>"display:none"}
							%label.btn.btn-large.btn-primary.active#user_fan
								%i.icon-headphones
								Fan
					
				.alert.alert-info
					%strong Notice: 
					Please select the correct account type, you cannot change this!
				= f.input :username, :required => true, :autofocus => true
				= f.input :email, :required => true




				= f.input :password, :required => true
				= f.input :password_confirmation, :required => true
				.form-actions
					= f.button :submit, "Sign up", :class => "btn btn-primary"
				
