.row
	.span6
		%ul.thumbnails
			%li.span6
				%a.thumbnail= image_tag "http://placehold.it/500x500"
		%h6
			%i.icon-tags
			Genres
		%h6
			%i.icon-info-sign
			About
		%h6
			%i.icon-group
			Band Members
		%h6
			%i.icon-music
			Sounds Like
		%h6
			%i.icon-asterisk
			Inspirations

	.span10
		.well
			%h1 Cody Lopez
			%h3 Alias
			%p
				%span.label.label-info
					%i.icon-eye-open
					700 Views
				%span.label.label-success
					%i.icon-play
					700 Plays
				%span.label.label-important
					%i.icon-heart
					+700 Rep 
		%hr
		%h3 
			%i.icon-star
			Featured Songs
		-if @songs.each do |song| 
			.row
				.span7
					.btn-toolbar
						.btn-group
							= button_link "play", "#{song.name}", nil, "btn-danger"
							= button_link "time", "0:00", nil

					.collapse.out{:id => "song_#{song.id}_lyrics"}
						%p
							-if song.lyrics.blank?
								There are no lyrics for this song, sorry!
							-else
								= song.lyrics.html_safe
						%hr
					.collapse.out{:id => "share_song_#{song.id}"}
						%p
							= icon_link "facebook", "Post to Wall", nil
							\ - 
							= icon_link "twitter", "Tweet", nil
							\ -
							= icon_link "envelope-alt", "Email", nil


					.btn-group
						= button_link "plus", "<i class='icon-reorder'></i> Add to Playlist", nil, "btn-mini btn-success"
						= link_to "<i class='icon-share'></i> Share".html_safe, "#", :class => "btn btn-mini btn-info", "data-toggle" => "collapse", "data-target" => "#share_song_#{song.id}"
						= link_to "<i class='icon-pencil'></i> Lyrics".html_safe, "#", :class => "btn btn-mini btn-inverse", "data-toggle" => "collapse", "data-target" => "#song_#{song.id}_lyrics"
						-if user_signed_in? && current_user.id == @album.user_id
							= button_link "edit", "Edit Song", edit_album_song_path(@album, song), "btn-mini btn-danger"


				.span3
					.btn-group.pull-right.ratings
						= button_link "thumbs-up", "(2,325) Like", nil, "btn-success btn-mini"
						= button_link "thumbs-down", nil, nil, "btn-inverse btn-mini"
			%hr
		-end.empty?
			.alert.alert-info
				There are no songs for the album
				%strong= @album.name

		%h3 
			%i.icon-music
			Albums
		%ul.thumbnails
			-if @albums.each do |album| 
				%li.span2
					= link_to image_tag(album.cover.url(:large)), album, :class => "thumbnail", "data-original-title" => "#{album.name}", "data-content" => "<p>#{album.description}</p><h6>#{album.record_label} / #{album.year_produced}</h6>", :rel => "popover"
			-end.empty?
				-show_msg = true
		-if show_msg ==  true
			.alert.alert-info
				You don't have any albums yet, click on 
				= button_link "plus", "New Album", new_album_path, "btn-success btn-mini"
				to get started!