-if @user.has_role? :fan
-elsif @user.is_active? and @user.has_role? :artist
	.page-header
		.pull-right
			= button_link "facebook", "Facebook", nil, "btn-facebook"
			= button_link "twitter", "Twitter", nil, "btn-twitter"
			= button_link "google-plus-sign", "Google+", nil, " btn-google"
			= button_link "group", "MySpace", nil, " btn-myspace"
		%h1.page-header-h1
			= @user.artist_name
			%small.page-header-small= @user.username
	.row
		.span6
			= render 'users/profile/left'

		.span10
			%ul.nav.nav-pills
				%li.active= link_to "Overview", "#overview", "data-toggle"=>"tab"
				%li= link_to "Albums", "#albums", "data-toggle"=>"tab"
				%li= link_to "Playlists", "#playlists", "data-toggle"=>"tab"
				%li= link_to "Videos", "#videos", "data-toggle"=>"tab"
				%li= link_to "Events", "#events", "data-toggle"=>"tab"
				%li= link_to "Photos", "#photos", "data-toggle"=>"tab"
				%li= link_to "Comments", "#comments", "data-toggle"=>"tab"
				%li= link_to "Fans", "#fans", "data-toggle"=>"tab"
			.tab-content
				#photos.tab-pane.fade.in
					%h3 
						%i.icon-camera-retro
						Galleries
					%hr
					-if @user.galleries.empty?
						.alert.alert-info This user has no galleries.
					%ul.thumbnails
						=render @user.galleries, :span => "span2"

				#playlists.tab-pane.fade.in
					=render 'users/profile/playlists'
				#events.tab-pane.fade.in
					%h3 
						%i.icon-flag
						Events
					%hr
					=render @user.events, :span => "span8"
					-if @user.events.empty?
						.alert.alert-info This user has no events.
				#fans.tab-pane.fade.in
					%ul.thumbnails
					- @user.followers.each do |fan|
						.span1= link_to image_tag(fan.profile_photo.url(:avatar)), fan, class: "thumbnail", rel: "tooltip", title: fan.username
					- if @user.followers.empty?
						.alert.alert-info This user has no fans.
				#comments.tab-pane.fade.in
					=render 'users/profile/comments'
				#videos.tab-pane.fade.in
					=render 'users/profile/videos'
				#albums.tab-pane.fade.in
					=render 'users/profile/albums'
				#overview.tab-pane.active.fade.in
					=render 'users/profile/overview'

-else
	.row
		.span16
			.hero-unit
				%h1 Sorry!
				%p This user is being lazy and hasnt setup his profile yet.