-if @user.is_active?
	.page-header
		.pull-right
			= button_link "facebook", "Facebook", nil, "btn-facebook"
			= button_link "twitter", "Twitter", nil, "btn-twitter"
			= button_link "google-plus-sign", "Google+", nil, " btn-google"
			= button_link "group", "MySpace", nil, " btn-myspace"
		%h1.page-header-h1
			= @user.artist_name
			%small.page-header-small= @user.username
	.row
		.span6
			= render 'users/profile/left'

		.span10
			%ul.nav.nav-pills
				%li.active= link_to "Overview", "#overview", "data-toggle"=>"tab"
				%li= link_to "Albums", "#albums", "data-toggle"=>"tab"
				%li= link_to "Playlists", "#playlists", "data-toggle"=>"tab"
				%li= link_to "Videos", "#videos", "data-toggle"=>"tab"
				%li= link_to "Photos", "#photos", "data-toggle"=>"tab"
				%li= link_to "Comments", "#comments", "data-toggle"=>"tab"
				%li= link_to "Fans", "#fans", "data-toggle"=>"tab"
			.tab-content
				#photos.tab-pane.fade.in
				#playlists.tab-pane.fade.in
					=render 'users/profile/playlists'
				#fans.tab-pane.fade.in
				#comments.tab-pane.fade.in
					=render 'users/profile/comments'
				#videos.tab-pane.fade.in
					=render 'users/profile/videos'
				#albums.tab-pane.fade.in
					=render 'users/profile/albums'
				#overview.tab-pane.active.fade.in
					=render 'users/profile/overview'

-else
	.row
		.span16
			.hero-unit
				%h1 Sorry!
				%p This user is being lazy and hasnt setup his profile yet.