= bootstrap_page_header "Your Events", "Create, manage and modify your events with ease!" 
.row
  .span12
    = button_link "plus", "New Event", new_event_path, "btn-success"
    %hr
    %table.table.table-striped.table-bordered
      %thead
        %tr
          %th{:width => "40%"} Event
          %th{:width => "40%"} Start - End
          %th{:width => "20%"} Actions
      %tbody
        - @events.each do |event|
          %tr
            %td= link_to "#{event.name}", event
            %td= event.start_date
            %td
              = button_link "edit", "Edit", edit_event_path(event), "btn-warning btn-mini"
              = button_link "remove", nil, edit_event_path(event), "btn-danger btn-mini"
              
  .span6
