= bootstrap_page_header "Your Events", "Create, manage and modify your events with ease!" 
.row
  .span12
    = button_link "plus", "New Event", new_event_path, "btn-success"
    %hr
    %table.table.table-striped.table-bordered
      %thead
        %tr
          %th{:width => "30%"} Event
          %th{:width => "50%"} Start - End
          %th{:width => "20%"} Actions
      %tbody
        - @events.each do |event|
          %tr
            %td= link_to "#{event.name}", event
            %td
              = "#{l event.start_date, format: :event_date} @ #{l event.start_time, format: :event_time}"
              \-
              = "#{l event.end_date, format: :event_date} @ #{l event.end_time, format: :event_time}"
            %td
              = button_link "edit", "Edit", edit_event_path(event), "btn-warning btn-mini"
              = button_link "eye-open", "View", event, "btn-info btn-mini"
              
  .span6
