.row
  .span8
    .row
      .span2
        = link_to image_tag(@event.cover.url(:medium)), "#/", :class => "thumbnail"
      .span6
        %h3= @event.name
        %h6 Date
        %p= "#{@event.start_date} - #{@event.end_date}"
        %p= @event.details
  .span8
    %h3 
      %i.icon-comments-alt
      Comments
    %hr
    =render 'comments/comments'
    =render 'comments/form'