.row
	.span10
		%h2
			%i.icon.icon-bar-chart
			Song Chart
			%small Most Played
		-5.times do
			= render 'songs/row'
		%p
			%i.icon-star
			Don't forgot to click 
			= button_link "globe", "Discover", nil, "btn-primary btn-mini"
			to find find more music by sorting, searching and more! Theres new artists signing up every day!
	.span6.omega
		.well
			%h2
				%i.icon.icon-star
				Top Artists
				%small Overall
			-5.times do
				= render 'users/row'
%hr
.row
	.span8
		%h2
			%i.icon.icon-picture
			Album Chart
			%small Most Listened to
		-5.times do
			= render 'albums/row'
	.span8.omega
		.row
			.span4
				%h2
					%i.icon.icon-headphones
					Artists
				%p= link_to image_tag("http://placehold.it/300x150", :class => "thumbnail"), nil
				%p The Earth is a very small stage in a vast cosmic arena. Think of the rivers of blood spilled by all those generals and emperors so that, in glory and triumph.
				%p
					= button_link "headphones", "Artist Signup", nil, "btn-danger btn-large"
			.span4
				%h2
					%i.icon.icon-user
					Fans
				%p= link_to image_tag("http://placehold.it/300x150", :class => "thumbnail"), nil
				%p The Earth is a very small stage in a vast cosmic arena. Think of the rivers of blood spilled by all those generals and emperors so that, in glory and triumph.
				%p
					= button_link "user", "Fan Signup", nil, "btn-info btn-large"
		%hr
		%h2
			%i.icon.icon-tags
			New Artists
			%small Just Signed Up
		-5.times do
			%p
				= link_to "Artist Name", nil
				%small Rock / Punk
