= bootstrap_page_header "#{@album.name}", "Album by #{icon_link('user',@album.user.artist_name, @album.user)}" 

.row
	.span6
		= link_to image_tag(@album.cover.url(:large)), nil, :class => "thumbnail"
		%hr.d
		#album-vote-links
			= render 'albums/shared/vote'
		%hr.d
		.row
			.span2
				= link_to image_tag(@album.user.profile_photo.url(:small)), @album.user, :class => "thumbnail"
			.span4
				%h2= @album.name
				%h3= "by #{icon_link('user',@album.user.artist_name, @album.user)}".html_safe
		%hr.d
		%h6 Album Information
		%p= @album.description
		%hr.d
		%h6 Record Label
		%p= @album.record_label
		%h6 Year Produced
		%p= @album.year_produced
	.span10

		.tab-content
			.tab-pane.active.fade.in#normal
				-if is_me? @album.user
					.row
						.span10
							.btn-group
								= button_link "upload", "Upload Song", new_album_song_path(@album), "btn-success"
								= button_link "edit", "Edit Album Details", edit_album_path(@album), "btn-warning"
								= link_to "<i class='icon-edit'></i> Edit Songs".html_safe, "#reorder", :class => "btn", "data-toggle" => "tab"
							%hr 
				= render 'songs/row'
				= render "comments/comments"
				%h6 Write your own comment
				= render "comments/form"
			-if is_me? @album.user
				.tab-pane.fade.in#reorder
					.row
						.span10
							-if is_me? @album.user
								.btn-group
									= button_link "upload", "Upload Song", new_album_song_path(@album), "btn-success disabled"
									= button_link "edit", "Edit Album Details", edit_album_path(@album), "btn-warning disabled"
									= link_to "<i class='icon-edit'></i> Edit Songs".html_safe, "#reorder", :class => "btn disabled", "data-toggle" => "tab"
									= link_to "<i class='icon-arrow-left'></i> Back".html_safe, "#normal", :class => "btn btn-info", "data-toggle" => "tab"
								%hr 
					#sortable
						= content_tag_for(:div, @songs, :class => "row") do |song|
							.span10
								%p
									.btn-group
										= button_link "edit", "#{song.name}", edit_album_song_path(@album, song), "btn-danger"
								%hr.d
