= bootstrap_page_header "Sign In", "with your username or email." 
.row
	.span8.offset4
		.well.black.sign-in-inputs
			= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name), :defaults => {:input_html => { :class => "input-block-level"}}) do |f| 
				.form-inputs
					= f.input :login, :required => false, :autofocus => true
					= f.input :password, :required => false
					.btn-group.center{"data-toggle"=>"buttons-radio"}
						%label.btn.btn-remember-me{:for=>"remember_me"} 
							%i.icon-check
							Remember me
						%label.btn.btn-remember-me.active{:for=>"dont_remember_me"} 
							%i.icon-remove
							Forget me
					%input{:type=>"checkbox", :id=>"remember_me", :name=>"user[remember_me]", :value=>"1", :style=>"display:none"}
					%input{:type=>"checkbox", :id=>"dont_remember_me", :name=>"user[remember_me]", :value=>"0", :style=>"display:none"}
			
				.form-actions
					= f.button :submit, "Sign in", :class => "btn-primary"
					= render "devise/shared/links"

		%h3 
			%i.icon-group.icon-large
			Fan or Artist?
			%small Choose your account type
		%hr
		= link_to image_tag("http://placehold.it/700x200"), root_path, class: :thumbnail
		%hr.d

		.row
			.span4
				%p Our posturings, our imagined self-importance, the delusion that we have some privileged position in the Universe, are challenged by this point of pale light. Our planet is a lonely speck in the great enveloping cosmic dark. In our obscurity, in all this vastness, there is no hint that help will come from elsewhere to save us from ourselves.
			.span4
				%p Our posturings, our imagined self-importance, the delusion that we have some privileged position in the Universe, are challenged by this point of pale light. Our planet is a lonely speck in the great enveloping cosmic dark. In our obscurity, in all this vastness, there is no hint that help will come from elsewhere to save us from ourselves.