= bootstrap_page_header "Your Playlists", "Create, share and listen to your favorite music, for free!" 

.row
  .span12
    = button_link "plus", "New Playlist", new_playlist_path, "btn-success"
    %hr
    %table.table.table-striped.table-bordered
      %thead
        %tr
          %th{:width => "70%"} Event
          %th{:width => "30%"} Actions
      %tbody
        - @playlists.each do |playlist|
          %tr
            %td= link_to "#{playlist.name}", playlist
            %td
              = button_link "edit", "Edit", edit_playlist_path(playlist), "btn-warning btn-mini"
              = button_link "eye-open", "View", playlist, "btn-info btn-mini"
              = button_link "share", "Share", playlist, "btn-inverse btn-mini"
  .span4

    %h4
      %i.icon-umbrella
      Welcome to the playlist manager, we make it pretty easy and fun to manage your playlists.
    %hr
    %p
      %i.icon-arrow-right
      The first playlist will appear as the featured playlist on your profile. 
    %hr
    %p
      %i.icon-move
      You can drag and drop your playlists to arrage the order they appear on your profile.
