.navbar.navbar-fixed-top
	.navbar-inner
		.container
			%a.btn.btn-navbar(data-target=".nav-collapse" data-toggle="collapse")
				%span.icon-bar
				%span.icon-bar
				%span.icon-bar
			%a.brand(href="/") Mozapolis
			.container.nav-collapse
				%ul.nav
					%li= icon_link "globe", "Discover", discover_path
					%li= icon_link "headphones", "Music", discover_browse_path
				%ul.nav.pull-right
					%form.navbar-search.pull-left
						%input.search-query{:placeholder => "Search for...", :type => "text"}
					%li.divider-vertical

					-if user_signed_in?
						%li.dropdown
							%a.dropdown-toggle{ "data-toggle" => "dropdown", :href => "#" }
								%icon.icon-beaker
								Dashboards
							%ul.dropdown-menu
								%li= icon_link "music", 'Albums', albums_path
								%li= icon_link "reorder", 'Playlists', playlists_path
								%li= icon_link "picture", 'Photos', galleries_path
								%li= icon_link "film", 'Videos', videos_path
								%li= icon_link "flag", 'Events', events_path
						%li.dropdown
							%a.dropdown-toggle{ "data-toggle" => "dropdown", :href => "#" }
								%icon.icon-cogs
								= current_user.username
							%ul.dropdown-menu
								%li= icon_link "edit", 'Edit Info', edit_user_registration_path
								%li= icon_link "eye-open", 'View Profile', current_user
						%li.dropdown
							%a.dropdown-toggle{ "data-toggle" => "dropdown", :href => "#" }
								
								%span.badge.badge-important 
									%icon.icon-pushpin
									1 
							%ul.dropdown-menu
								%li= icon_link "arrow-right", 'Susy Jones commented on one of your photos.', edit_user_registration_path
								%li= icon_link "arrow-right", 'Bobby David Anthony Jr. voted on your song "Love me long time and I will show you the way home". Bobby David Anthony Jr. voted on your song "Love me long time and I will show you the way home".', edit_user_registration_path
			
						%li
						%li.divider-vertical
						%li= link_to '<i class="icon-signout"></i> Signout'.html_safe, destroy_user_session_path, :method => :delete
					-else
						%li= icon_link "signin", 'Signin', new_user_session_path
						%li.divider-vertical
						%li= icon_link "heart", 'Register', new_user_registration_path